{% extends 'src/base.html' %}
{% block title %}Add Availability{% endblock title %}
{% block page_header_h3 %}Add Availability{% endblock page_header_h3 %}
{% block page_header_span %}Add Availability{% endblock page_header_span %}
{% load static %}
{% block body %}

                <div class="form mt-20 py-16 bg-white sm:mx-12 md:mx-32  mx-6 rounded-lg  lg:w-4/5 sm:w-5/6">
                    <h2 class="md:my-3 text-center font-bold text-4xl ">Add Availability Form</h2>
                    <form method="post" action="{% url 'submit_availability' %}" class="px-8 sm:px-16 py-12">
                       {% csrf_token %}
                                <div class=" grid sm:grid-cols-2 md:grid-cols-4 mb-3 gap-6 mt-12">
                                    <div class="relative ">

                                        <input name="location" type="text" id="location" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                                        <label for="location" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Location</label>
                                    </div>

                                    <div class="relative ">

                                        <input name="community" type="text" id="community" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required/>
                                        <label for="community" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Community</label>
                                    </div>

                                    <div class="relative ">

                                        <input name="property" type="text" id="community" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required/>
                                        <label for="community" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Building/Tower</label>
                                    </div>

                                    <div class="relative ">

                                        <label for="propertyType" class="sr-only">Property Type:</label>

                                        <select  id="propertyType" name="property_type" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                            <option value="" disabled selected>Property Type</option>

                                            <option value="Apartment">Apartment</option>
                                            <option value="Villa">Villa</option>
                                            <option value="Townhouse">Townhouse</option>
                                            <option value="Penthouse">Penthouse</option>
                                            <option value="Offices-space">Offices-space</option>
                                            <option value="Shop">Shop</option>
                                            <option value="Showroom">Showroom</option>
                                        </select>
                                    </div>

                                    <div class="relative ">
                                        <label for="floorNumber" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"></label>
                                        <select id="floorNumber" name="floor_no" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                            <option value="" disabled selected>Floor Number</option>
                                        </select>
                                    </div>

                                    <div class="relative ">
                                        <input name="unit_no" type="text" id="unitno" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                        <label for="unitno" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Unit No.</label>
                                    </div>

                                    <div class="relative max-w-sm">
                                        <label for="bedroom" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"></label>
                                        <select id="bedroom" name="bedrooms" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                            <option value="" disabled selected>Bedroom</option>
                                        </select>
                                    </div>

                                    <div class="relative ">
                                        <label for="bathroom" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"></label>
                                        <select id="bathroom" name="bathrooms" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                            <option value="" disabled selected>Bathroom</option>
                                        </select>
                                    </div>

                                    <div class="relative ">
                                        <label for="view" class="sr-only">View:</label>

                                        <select id="view" name="view" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                            <option value="" disabled selected>View</option>
                                            <option value="Sea-view">Sea view</option>
                                            <option value="Partial-Sea-view">Partial Sea view</option>
                                            <option value="Road-view">Road View</option>
                                            <option value="Canal-View">Canal View</option>
                                            <option value="Partial-Canal-View">Partial Canal View</option>
                                            <option value="Pool-View">Pool View</option>
                                            <option value="Community-View">Community View</option>
                                            <option value="Mangrove-View">Mangrove View</option>
                                            <option value="Garden-View">Garden View</option>
                                            <option value="City-View">City View</option>
                                            <option value="Street-View">Street View</option>
                                        </select>
                                    </div>

                                    <div class="relative ">
                                        <input name="sqft" type="text" id="sqft" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                        <label for="sqft" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">SQFT</label>
                                    </div>
                                    <div class="relative ">
                                        <input name="price" type="text" id="price" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                        <label for="price" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Price AED</label>
                                    </div>
                                    <div class="relative ">
                                        <input name="comments" type="text" id="Comments" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required max="700"/>
                                        <label for="Comments" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Comments</label>
                                    </div>

                                    <div class="relative ">
                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                          </div>
                                          <input name="added_date" type="date" class="px-2.5 pb-2.5  bg-gray-100 h-12 border-t-transparent  text-gray-900  border-b-2 border-gray-300  text-sm  focus:border-b-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white " placeholder="Select date">

                                    </div>

                                    <div class="relative ">
                                        <label for="status" class="sr-only">Status:</label>

                                        <select id="status" name="status" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                            <option value="" disabled selected>Status</option>
                                            <option value="vacant">Vaccant</option>
                                            <option value="occupied">Occupied</option>

                                        </select>
                                    </div>

                                    <div class="relative ">
                                        <input name="owner_name" type="text" id="name" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                        <label for="name" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Owner Name</label>
                                    </div>

                                    <div class="relative ">
                                        <input name="contact_no" type="number" id="phone" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                        <label for="phone" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Contact No.</label>
                                    </div>

                                    <div class="relative ">
                                        <input name="email" type="email" id="email" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 dark:bg-gray-700 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                        <label for="email" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4">Email </label>
                                    </div>





                                    <div class="relative ">
                                        <label for="avalibility-status" class="sr-only">Avaibility Status:</label>

                                        <select id="avalibility-status" name="availability_status" class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                                            <option value="" disabled selected>Avalibility Status</option>
                                            <option value="forSale">For Sale</option>
                                            <option value="forRent">For Rent</option>

                                        </select>
                                    </div>

                        </div>


                        <button type="submit" class="send-btn absolute my-3 bg-blue-500 text-white font-medium rounded-lg  px-5 py-2.5 text-center mb-2">Submit</button>

                        <!-- <button type="button" class=" absolute my-3 send-btn bg-blue-500 font-medium text-white rounded-lg  px-5 py-2.5 text-center mr-2 mb-2"><a href="../src/add-availbility-2.html">Next</a></button> -->



                        </form>
                        
                    
                </div>
            </section>
        </div>
       
        <script>
            const select = document.getElementById("floorNumber");
        
            for (let i = 1; i <= 70; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.text = i;
                select.appendChild(option);
            }

            const bedroom = document.getElementById("bedroom");
        
        for (let j = 1; j <= 10; j++) {
            const option = document.createElement("option");
            option.value = j;
            option.text = j;
            bedroom.appendChild(option);
        }

        const bathroom = document.getElementById("bathroom");
        
        for (let k = 1; k <= 10; k++) {
            const option = document.createElement("option");
            option.value = k;
            option.text = k;
            bathroom.appendChild(option);
        }
        </script>
       
{% endblock body %}