{% extends 'src/base.html' %}
{% block title %}Assign Lead{% endblock title %}
{% block page_header_h3 %}Assign Lead{% endblock page_header_h3 %}
{% block page_header_span %}Assign Lead{% endblock page_header_span %}

{% block body %}
<div class="relative overflow-x-scroll mt-20 shadow-md sm:rounded-lg">

  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="content">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <!-- <th scope="col" class="p-4">
                            <div class="flex items-center">
                                <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-all-search" class="sr-only">checkbox</label>
                            </div>
                        </th> -->
                        <th scope="col" class="px-6 py-3">
                           Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Contact
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Email
                        </th>

                        <th scope="col" class="px-6 py-3">
                            Budget
                        </th>

                        <th scope="col" class="px-6 py-3">
                          Agent
                        </th>
                        <th scope="col" class="px-6 py-3">
                          Operations
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for lead in leads %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <!-- Table row for each lead -->
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ lead.added_date }}
                    </th>
                    <td class="px-6 py-4">
                        {{ lead.name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ lead.contact_no }}
                    </td>
                    <td class="px-6 py-4">
                        {{ lead.email }}
                    </td>

                    <td class="px-6 py-4">
                        {{ lead.budget }}
                    </td>

                    <td class="px-6 py-4">
                        {{ lead.assigned_to }}
                    </td>
                    <!-- Add more fields as needed -->
                    <td class="flex items-center px-6 py-4 space-x-3">
                            <a href="{% url 'lead_update_assign' lead.pk %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Update</a>
<!--                            <a href="{% url 'lead_delete' lead.pk %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>-->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
</div>

      
      
     
   
     </section>
     
  
  </div>


{% endblock body %}